<div class="ui center aligned container">
  		<h1>What Event</h1>
</div>

<div class="ui form" *ngIf="!showButton">
  <form #eventForm="ngForm">
  	<div class="ui centered grid container">
  		<div class="two column row">
  			<div class="column">
  				<label> Name of event?</label>
  			</div>
  			<div class="column">
  				<input type="text" placeholder="Name of event" name="eventName" [(ngModel)]="event.name">
  			</div>
  		</div>
  		<div class="two column row">
  			<div class="column">
  				<label>Occurence of Event??</label>
  			</div>
  			<div class="column">
  				<div class="field">
  					<select class="ui search dropdown" [(ngModel)]="event.freqType" name="eventFreqType">
  						<option value="1">By Week</option>
  						<option value="2">By Month</option>
  						<option value="3">By Year</option>
  					</select>
  				</div>
  				<input type="number" placeholder="# of days event occurs? (in time period mention above)" name="eventFreq" [(ngModel)]="event.eventFreq">
  			</div>
  		</div>
  	<!-- 	<div class="two column row">
  			<div class="column">
  				<label>How many days you attend the event?</label>
  			</div>
  			<div class="column">
  				<input type="number" placeholder="# of days you attend the event? (in time period mention above)" name="eventAtten" [(ngModel)]="event.eventAtten">
  			</div>
  		</div> -->
  		<div class="two column row">
  			<div class="column">
  				<label>Starting Date</label>
  			</div>
  			<div class="column">
  				<input type="date" placeholder="Starting date of event?" name="startDate" [(ngModel)]="event.startDate">
  			</div>
  		</div>
  		<div class="two column row">
  			<div class="column">
  				<label>Ending Date</label>
  			</div>
  			<div class="column">
  				<input type="date" placeholder="Ending date of event?" name="endDate" [(ngModel)]="event.endDate" >
  			</div>
  		</div>
  		<div class="column">
          <button class="ui button" (click)="onSubmit()">Submit</button>
        </div> 
  	</div>
  </form>
</div>


<div class="ui centered cards" *ngIf="showModal">
  <div class="card">
      <div class="content">
        <div class="description">You have attended,
          <font size="6">{{attendence}}</font> out of <font size="6">{{totalDay}}</font> days of event {{ eventName }}.
        </div>
      </div>
      <div class="ui bottom attached button" (click)="showForm()">
        Check Again!!
      </div>
  </div>
</div>


<div class="ui grid">
  <div class="ui center aligned container">
    <div class="content" *ngIf="showButton">
       <h1>DayChart</h1>
       <div class="ui buttons">
       	  <button class="ui button" (click)="drawCanvas(3)">by Days</button>
          <button class="ui button" (click)="drawCanvas(1)">by Weeks</button>
          <button class="ui button" (click)="drawCanvas(2)">by Months</button>
        </div>
    </div>
  </div>
  <div class="ui center aligned container">
    <canvas id="canvas"></canvas>
  </div>
</div>
	<div class="ui center aligned container">
		<h2>Our Standard Template:</h2>
		<div class="ui button">
			<a routerLink="/seeyourfolks">See Your Folks Site</a>
		</div>
	</div>
